<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Widgets: Open Orders</title>
    <%= stylesheet_link_tag    'order_administration', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'order_administration', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1>Flatiron Widgets: Open Orders</h1>
    <%= yield %>

  </body>
</html>
